body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./flight image/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(53, 45, 45, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

select, input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#confirmation {
    text-align: center;
    background-color: #e7f9e7;
    padding: 20px;
    border: 1px solid #4CAF50;
}
